{
  "swagger": "2.0",
  "info": {
    "title": "ATManager API",
    "description": "...",
    "version": "1.0.0"
  },
  "host": "atmanager.gollgot.app",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/users/{user_id}/todolists": {
      "get": {
        "summary": "Returns all todolists and folders of a given user.",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A todolist array and a folders array.",
            "schema": {
              "type": "object",
              "properties": {
                "todoLists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 4
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "folder_id": {
                        "type": "integer",
                        "example": null
                      },
                      "title": {
                        "type": "string",
                        "example": "Autres"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      }
                    }
                  }
                },
                "folders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "label": {
                        "type": "string",
                        "example": "My personal folder"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "todolist": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "user_id": {
                              "type": "integer",
                              "example": 1
                            },
                            "folder_id": {
                              "type": "integer",
                              "example": null
                            },
                            "title": {
                              "type": "string",
                              "example": "School work list"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2020-04-15 15:14:04"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2020-04-15 15:14:04"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/goals": {
      "get": {
        "summary": "Returns all goals of given user.",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A goal array.",
            "schema": {
              "type": "object",
              "properties": {
                "todolists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "interval_id": {
                        "type": "integer",
                        "example": 2
                      },
                      "quantity": {
                        "type": "integer",
                        "example": 10
                      },
                      "label": {
                        "type": "string",
                        "example": "Faire du sport"
                      },
                      "endDate": {
                        "type": "string",
                        "example": null
                      },
                      "intervalValue": {
                        "type": "integer",
                        "example": 2
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      }
                    }
                  }
                },
                "folders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "label": {
                        "type": "string",
                        "example": "My personal folder"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "todolist": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "user_id": {
                              "type": "integer",
                              "example": 1
                            },
                            "folder_id": {
                              "type": "integer",
                              "example": null
                            },
                            "title": {
                              "type": "string",
                              "example": "School work list"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2020-04-15 15:14:04"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2020-04-15 15:14:04"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/todos/today": {
      "get": {
        "summary": "Returns all user's todos for today",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A todos array",
            "schema": {
              "type": "object",
              "properties": {
                "todos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 4
                      },
                      "todo_list_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": null
                      },
                      "interval_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "Homework"
                      },
                      "details": {
                        "type": "string",
                        "example": "Do all my homework for this day"
                      },
                      "dueDate": {
                        "type": "string",
                        "example": "2020-04-20 22:00:00"
                      },
                      "dateTimeDone": {
                        "type": "string",
                        "example": null
                      },
                      "reminderDateTime": {
                        "type": "string",
                        "example": null
                      },
                      "intervalValue": {
                        "type": "integer",
                        "example": 1
                      },
                      "intervalEndDate": {
                        "type": "string",
                        "example": null
                      },
                      "favorite": {
                        "type": "integer",
                        "example": 1
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 5
                            },
                            "user_id": {
                              "type": "integer",
                              "example": 1
                            },
                            "label": {
                              "type": "string",
                              "example": "School"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2020-04-09 08:20:17"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2020-04-09 08:20:17"
                            },
                            "pivot": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "todo_id": {
                                    "type": "integer",
                                    "example": 4
                                  },
                                  "tag_id": {
                                    "type": "integer",
                                    "example": 3
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/goaltodos/today": {
      "get": {
        "summary": "Returns all user's goaltodos for today.",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A goaltodos array",
            "schema": {
              "type": "object",
              "properties": {
                "goalTodos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 4
                      },
                      "goal_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "quantityDone": {
                        "type": "integer",
                        "example": null
                      },
                      "dateTimeDone": {
                        "type": "string",
                        "example": null
                      },
                      "dueDate": {
                        "type": "string",
                        "example": "2020-04-30 22:00:00"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "label": {
                        "type": "string",
                        "example": "Faire du sport"
                      },
                      "quantity": {
                        "type": "integer",
                        "example": 20
                      },
                      "intervalValue": {
                        "type": "integer",
                        "example": 1
                      },
                      "interval_id": {
                        "type": "integer",
                        "example": 2
                      },
                      "created_at_goal": {
                        "type": "string",
                        "example": "2020-05-03 12:16:51"
                      },
                      "interval": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 2
                          },
                          "label": {
                            "type": "string",
                            "example": "week"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todolists/{todolist_id}/todos": {
      "get": {
        "summary": "Returns all todos of a given todolist.",
        "parameters": [
          {
            "in": "path",
            "name": "todolist_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The todolist id"
          }
        ],
        "responses": {
          "200": {
            "description": "A todos array",
            "schema": {
              "type": "object",
              "properties": {
                "todos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 4
                      },
                      "todo_list_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": null
                      },
                      "interval_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "Homework"
                      },
                      "details": {
                        "type": "string",
                        "example": "Do all my homework for this day"
                      },
                      "dueDate": {
                        "type": "string",
                        "example": "2020-04-20 22:00:00"
                      },
                      "dateTimeDone": {
                        "type": "string",
                        "example": null
                      },
                      "reminderDateTime": {
                        "type": "string",
                        "example": null
                      },
                      "intervalValue": {
                        "type": "integer",
                        "example": 1
                      },
                      "intervalEndDate": {
                        "type": "string",
                        "example": null
                      },
                      "favorite": {
                        "type": "integer",
                        "example": 0
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 5
                            },
                            "user_id": {
                              "type": "integer",
                              "example": 1
                            },
                            "label": {
                              "type": "string",
                              "example": "School"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2020-04-09 08:20:17"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2020-04-09 08:20:17"
                            },
                            "pivot": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "todo_id": {
                                    "type": "integer",
                                    "example": 4
                                  },
                                  "tag_id": {
                                    "type": "integer",
                                    "example": 3
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goals/{goal_id}/goaltodos": {
      "get": {
        "summary": "Returns all goaltodos of a given goal.",
        "parameters": [
          {
            "in": "path",
            "name": "goal_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The goal id"
          }
        ],
        "responses": {
          "200": {
            "description": "A goaltodos array",
            "schema": {
              "type": "object",
              "properties": {
                "goalTodos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 4
                      },
                      "goal_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "quantityDone": {
                        "type": "integer",
                        "example": null
                      },
                      "dateTimeDone": {
                        "type": "string",
                        "example": null
                      },
                      "dueDate": {
                        "type": "string",
                        "example": "2020-04-20 22:00:00"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2020-04-15 15:14:04"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth": {
      "post": {
        "summary": "Generate API authentication token from client Google Sign-in request.",
        "parameters": [
          {
            "in": "path",
            "name": "google_token",
            "required": true,
            "type": "string",
            "minimum": 1,
            "description": "The temporary token generated by Google Sign-in authentication."
          }
        ],
        "responses": {
          "200": {
            "description": "Token successfully renewed.",
            "schema": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "SUCCESS: Existing user"
                },
                "userId": {
                  "type": "integer",
                  "example": 3
                },
                "token": {
                  "type": "string",
                  "example": "0Jx2v4R8JNa8D64E2uVXSHGKwHsHpxNJ"
                }
              }
            }
          },
          "201": {
            "description": "Successfully created new user and its token.",
            "schema": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "SUCCESS: New user"
                },
                "userId": {
                  "type": "integer",
                  "example": 4
                },
                "token": {
                  "type": "string",
                  "example": "0Jx2v4R8JNa8D64E2uVXSHGKwHsHpxNJ"
                }
              }
            }
          },
          "400": {
            "description": "Client token could not be verified.",
            "schema": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "ERROR: Invalid client request"
                },
                "userId": {
                  "type": "integer",
                  "example": null
                },
                "token": {
                  "type": "string",
                  "example": null
                }
              }
            }
          },
          "500": {
            "description": "Server failed to generate the token.",
            "schema": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "ERROR: Could not create secure API token"
                },
                "userId": {
                  "type": "integer",
                  "example": null
                },
                "token": {
                  "type": "string",
                  "example": null
                }
              }
            }
          }
        }
      }
    }
  }
}
