{
  "swagger": "2.0",
  "info": {
    "title": "ATManager API",
    "description": "...",
    "version": "1.0.0"
  },
  "host": "atmanager.gollgot.app",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "consumes": [
    "multipart/form-data"
  ],
  "paths": {
    "/users/{user_id}/todolists": {
      "get": {
        "summary": "Returns all todolists and folders of a given user.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A todolist array and a folders array.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 200
                },
                "message": {
                  "type": "string",
                  "example": "Success"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "todoLists": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 4
                          },
                          "user_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "folder_id": {
                            "type": "integer",
                            "example": null
                          },
                          "title": {
                            "type": "string",
                            "example": "Autres"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          }
                        }
                      }
                    },
                    "folders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "user_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "label": {
                            "type": "string",
                            "example": "My personal folder"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "todolist": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "user_id": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "folder_id": {
                                  "type": "integer",
                                  "example": null
                                },
                                "title": {
                                  "type": "string",
                                  "example": "School work list"
                                },
                                "created_at": {
                                  "type": "string",
                                  "example": "2020-04-15 15:14:04"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "example": "2020-04-15 15:14:04"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The given API token cannot grant authorization.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/goals": {
      "get": {
        "summary": "Returns all goals of given user.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A goal array.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 200
                },
                "message": {
                  "type": "string",
                  "example": "Success"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "todolists": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "user_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "interval_id": {
                            "type": "integer",
                            "example": 2
                          },
                          "quantity": {
                            "type": "integer",
                            "example": 10
                          },
                          "label": {
                            "type": "string",
                            "example": "Faire du sport"
                          },
                          "endDate": {
                            "type": "string",
                            "example": null
                          },
                          "intervalValue": {
                            "type": "integer",
                            "example": 2
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          }
                        }
                      }
                    },
                    "folders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "user_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "label": {
                            "type": "string",
                            "example": "My personal folder"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "todolist": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "user_id": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "folder_id": {
                                  "type": "integer",
                                  "example": null
                                },
                                "title": {
                                  "type": "string",
                                  "example": "School work list"
                                },
                                "created_at": {
                                  "type": "string",
                                  "example": "2020-04-15 15:14:04"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "example": "2020-04-15 15:14:04"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The given API token cannot grant authorization.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/todos/today": {
      "get": {
        "summary": "Returns all user's todos for today",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A todos array",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 200
                },
                "message": {
                  "type": "string",
                  "example": "Success"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "todos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 4
                          },
                          "todo_list_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "user_id": {
                            "type": "integer",
                            "example": null
                          },
                          "interval_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "title": {
                            "type": "string",
                            "example": "Homework"
                          },
                          "details": {
                            "type": "string",
                            "example": "Do all my homework for this day"
                          },
                          "dueDate": {
                            "type": "string",
                            "example": "2020-04-20 22:00:00"
                          },
                          "dateTimeDone": {
                            "type": "string",
                            "example": null
                          },
                          "reminderDateTime": {
                            "type": "string",
                            "example": null
                          },
                          "intervalValue": {
                            "type": "integer",
                            "example": 1
                          },
                          "intervalEndDate": {
                            "type": "string",
                            "example": null
                          },
                          "favorite": {
                            "type": "integer",
                            "example": 1
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 5
                                },
                                "user_id": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "label": {
                                  "type": "string",
                                  "example": "School"
                                },
                                "created_at": {
                                  "type": "string",
                                  "example": "2020-04-09 08:20:17"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "example": "2020-04-09 08:20:17"
                                },
                                "pivot": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "todo_id": {
                                        "type": "integer",
                                        "example": 4
                                      },
                                      "tag_id": {
                                        "type": "integer",
                                        "example": 3
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The given API token cannot grant authorization.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/goaltodos/today": {
      "get": {
        "summary": "Returns all user's goaltodos for today.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A goaltodos array",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 200
                },
                "message": {
                  "type": "string",
                  "example": "Success"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "goalTodos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 4
                          },
                          "goal_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "quantityDone": {
                            "type": "integer",
                            "example": null
                          },
                          "dateTimeDone": {
                            "type": "string",
                            "example": null
                          },
                          "dueDate": {
                            "type": "string",
                            "example": "2020-04-30 22:00:00"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "label": {
                            "type": "string",
                            "example": "Faire du sport"
                          },
                          "endDate_goal": {
                            "type": "string",
                            "example": "2020-12-31"
                          },
                          "quantity": {
                            "type": "integer",
                            "example": 20
                          },
                          "intervalValue": {
                            "type": "integer",
                            "example": 1
                          },
                          "interval_id": {
                            "type": "integer",
                            "example": 2
                          },
                          "created_at_goal": {
                            "type": "string",
                            "example": "2020-05-03 12:16:51"
                          },
                          "interval": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 2
                              },
                              "label": {
                                "type": "string",
                                "example": "week"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The given API token cannot grant authorization.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/todos": {
      "get": {
        "summary": "Returns all todos of a given user.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A todos array",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 200
                },
                "message": {
                  "type": "string",
                  "example": "Success"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "todos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 4
                          },
                          "todo_list_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "user_id": {
                            "type": "integer",
                            "example": null
                          },
                          "interval_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "title": {
                            "type": "string",
                            "example": "Homework"
                          },
                          "details": {
                            "type": "string",
                            "example": "Do all my homework for this day"
                          },
                          "dueDate": {
                            "type": "string",
                            "example": "2020-04-20 22:00:00"
                          },
                          "dateTimeDone": {
                            "type": "string",
                            "example": null
                          },
                          "reminderDateTime": {
                            "type": "string",
                            "example": null
                          },
                          "intervalValue": {
                            "type": "integer",
                            "example": 1
                          },
                          "intervalEndDate": {
                            "type": "string",
                            "example": null
                          },
                          "favorite": {
                            "type": "integer",
                            "example": 0
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 5
                                },
                                "user_id": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "label": {
                                  "type": "string",
                                  "example": "School"
                                },
                                "created_at": {
                                  "type": "string",
                                  "example": "2020-04-09 08:20:17"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "example": "2020-04-09 08:20:17"
                                },
                                "pivot": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "todo_id": {
                                        "type": "integer",
                                        "example": 4
                                      },
                                      "tag_id": {
                                        "type": "integer",
                                        "example": 3
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The given API token cannot grant authorization.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/goaltodos": {
      "get": {
        "summary": "Returns all goaltodos of a given user.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "A goaltodos array",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 200
                },
                "message": {
                  "type": "string",
                  "example": "Success"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "goalTodos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 4
                          },
                          "goal_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "quantityDone": {
                            "type": "integer",
                            "example": null
                          },
                          "dateTimeDone": {
                            "type": "string",
                            "example": null
                          },
                          "dueDate": {
                            "type": "string",
                            "example": "2020-04-30 22:00:00"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2020-04-15 15:14:04"
                          },
                          "label": {
                            "type": "string",
                            "example": "Faire du sport"
                          },
                          "endDate_goal": {
                            "type": "string",
                            "example": "2020-12-31"
                          },
                          "quantity": {
                            "type": "integer",
                            "example": 20
                          },
                          "intervalValue": {
                            "type": "integer",
                            "example": 1
                          },
                          "interval_id": {
                            "type": "integer",
                            "example": 2
                          },
                          "created_at_goal": {
                            "type": "string",
                            "example": "2020-05-03 12:16:51"
                          },
                          "interval": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 2
                              },
                              "label": {
                                "type": "string",
                                "example": "week"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The given API token cannot grant authorization.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/auth": {
      "post": {
        "summary": "Generate API authentication token from client Google Sign-in request. (Bearer googleToken needed)",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token successfully renewed.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 200
                },
                "message": {
                  "type": "string",
                  "example": "Success"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "integer",
                      "example": 10
                    },
                    "tokenAPI": {
                      "type": "string",
                      "example": "0Jx2v4R8JNa8D64E2uVXSHGKwHsHpxNJ"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Successfully created new user and its token.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 201
                },
                "message": {
                  "type": "string",
                  "example": "Created"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "integer",
                      "example": 10
                    },
                    "tokenAPI": {
                      "type": "string",
                      "example": "0Jx2v4R8JNa8D64E2uVXSHGKwHsHpxNJ"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client token could not be verified.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 400
                },
                "message": {
                  "type": "string",
                  "example": "Invalid client request"
                }
              }
            }
          },
          "500": {
            "description": "Server failed to generate the token.",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 500
                },
                "message": {
                  "type": "string",
                  "example": "Could not create secure API token"
                }
              }
            }
          }
        }
      }
    },
    "/folders": {
      "post": {
        "summary": "Create a new folder",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "label",
            "required": true,
            "type": "string",
            "description": "The folder name"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created new folder",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 201
                },
                "message": {
                  "type": "string",
                  "example": "Created"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "example": "Administration"
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2020-05-07 08:00:43"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2020-05-07 08:00:43"
                    },
                    "id": {
                      "type": "integer",
                      "example": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, maybe error in parameters (field length, empty field, ...)",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 400
                },
                "message": {
                  "type": "string",
                  "example": "Bad request, verify your content"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing bearer tokenAPI or wrong tokenAPI",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/todolists": {
      "post": {
        "summary": "Create a new todolist",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "title",
            "required": true,
            "type": "string",
            "description": "The todolist title"
          },
          {
            "in": "formData",
            "name": "folder_id",
            "required": false,
            "type": "integer",
            "description": "The folder id that will contains the todolist"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created new folder",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 201
                },
                "message": {
                  "type": "string",
                  "example": "Created"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Homework"
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "folder_id": {
                      "type": "integer",
                      "example": 3
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2020-05-07 08:00:43"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2020-05-07 08:00:43"
                    },
                    "id": {
                      "type": "integer",
                      "example": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, maybe error in parameters (field length, empty field, ...)",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 400
                },
                "message": {
                  "type": "string",
                  "example": "Bad request, verify your content"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing bearer tokenAPI or wrong tokenAPI",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/goals": {
      "post": {
        "summary": "Create a new goal",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "intervalLabel",
            "required": true,
            "type": "string",
            "description": "The interval label [day, week, month, year]"
          },
          {
            "in": "formData",
            "name": "label",
            "required": true,
            "type": "string",
            "description": "The goal label"
          },
          {
            "in": "formData",
            "name": "quantity",
            "required": true,
            "type": "integer",
            "description": "The goal quantity"
          },
          {
            "in": "formData",
            "name": "intervalValue",
            "required": true,
            "type": "integer",
            "description": "The interval value"
          },
          {
            "in": "formData",
            "name": "endDate",
            "required": true,
            "type": "string",
            "description": "The end date [format = 2020-05-22]"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created new goal",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 201
                },
                "message": {
                  "type": "string",
                  "example": "Created"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 7
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 5
                    },
                    "interval_id": {
                      "type": "integer",
                      "example": 2
                    },
                    "quantity": {
                      "type": "integer",
                      "example": 3
                    },
                    "label": {
                      "type": "string",
                      "example": "Faire du sport"
                    },
                    "endDate": {
                      "type": "string",
                      "example": "2020-05-21"
                    },
                    "intervalValue": {
                      "type": "integer",
                      "example": 1
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2020-04-15 15:14:04"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2020-04-15 15:14:04"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, maybe error in parameters (field length, empty field, ...)",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 400
                },
                "message": {
                  "type": "string",
                  "example": "Bad request, verify your content"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing bearer tokenAPI or wrong tokenAPI",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/goaltodos": {
      "post": {
        "summary": "Create a new goal todo",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "goalLabel",
            "required": true,
            "type": "string",
            "description": "The goal label [must exists and was created by the requested user]"
          },
          {
            "in": "formData",
            "name": "dueDate",
            "required": true,
            "type": "string",
            "description": "The due date time [format = 2020-05-11 21:23:00]"
          },
          {
            "in": "formData",
            "name": "quantityDone",
            "required": false,
            "type": "integer",
            "description": "The quantity done"
          },
          {
            "in": "formData",
            "name": "dateTimeDone",
            "required": false,
            "type": "string",
            "description": "The date time done [format = 2020-05-11 21:23:00]"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created new goal todo",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 201
                },
                "message": {
                  "type": "string",
                  "example": "Created"
                },
                "resource": {
                  "type": "object",
                  "properties": {
                    "quantityDone": {
                      "type": "integer",
                      "example": 12
                    },
                    "dateTimeDone": {
                      "type": "string",
                      "example": "2020-05-11 21:00:00"
                    },
                    "dueDate": {
                      "type": "string",
                      "example": "2020-05-11 21:23:00"
                    },
                    "goal_id": {
                      "type": "integer",
                      "example": 7
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2020-04-15 15:14:04"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2020-04-15 15:14:04"
                    },
                    "id": {
                      "type": "integer",
                      "example": 11
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, maybe error in parameters (field length, empty field, ...)",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 400
                },
                "message": {
                  "type": "string",
                  "example": "Bad request, verify your content"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing bearer tokenAPI or wrong tokenAPI",
            "schema": {
              "type": "object",
              "properties": {
                "status code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      }
    }
  }
}